// Fonts
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: Lora;
  font-size: 25px;
    background-color: white;
}

.poppins {
   font-family: Poppins;
}
#navigation, .main-navbar {
  margin-left: auto;
  margin-right: auto;
  background-image: url('/images/baner_main.jpg');
  background-repeat: no-repeat;
  box-shadow: #999999;
  background-position: center;
  width: 100%;
  //height: 680px;
  height: 510px;
  resize: both;
}
.img-circle {
  border-radius: 50%;
    max-width: 180px;
    max-height: 180px;
}
.card {
  border: none !important;
}


.list-group-item .glyphicon {
  margin-right: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover
{
    color: #000000;
    text-decoration:none;
    cursor:pointer;
}
.categories .panel, .list-group-item, .subcat, .panel-body, .p-6, .popular-articles-card {
  background-color: #F8F9FB !important;
}

.categories {
    font-family: Poppins;
    font-size: medium;
    //: black;
    .panel {
        border: none !important;
        //background-color: #F8F9FB !important;
    }
    .list-group-item {
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin-bottom: 0 !important;
        //background-color: #F8F9FB !important;
    }
    .subcat {
        border-bottom: none !important;
        //background-color: #F8F9FB !important;
    }
    .panel-body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        //background-color: #F8F9FB !important;
    }

}

.flex-main {
    flex: 3;

}
.flex-side{
    flex: 1;
}
.p-6 {
    padding: 4rem;
    //background-color: #F8F9FB !important;
}

.popular-article-image {
    max-height: 100px;
    max-width: 100px;
    margin-top: 25px;
}
.popular-article-text {
    margin-bottom: 0;
}

.article-card{
    .card-body{
        margin-left: -100px;
    }
}

.main-content {
    //max-width: 1800px;
    //align-content: center !important;
}
.font-border {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    align-content: center;
}

.border-secondary-tag{
    border: black !important;
    border-width: medium !important;
}

.page-item {
    border-radius: 50% !important;
}


.font-8rem {
    font-size: 8rem;
}
.font-4rem {
    font-size: 4rem;
}
.font-3rem{
    font-size: 3rem;
}
.mr-n15{
    margin-right: -15rem;
}
.ml-n15{
    margin-left: -15rem;
}
.mr-9 {
    margin-right: 9rem;
}
.pl-8{
  padding-left: 8rem !important;
}
.font-blue{
    color: #92D3F3 !important;
}

@media(max-width: 990px) {
    .blog-name {
        text-align: center;
    }
  .card > * {
    text-align: center;
  }
    .article-content > * {
        text-align: center;
    }
  .card {
    padding: 0 !important;
    margin: 0 !important;
  }
}
.pagination-menu{
    .item{
        font-family: Poppins;
        color: #28B3EC;
        width: 4rem !important;
        height: 4rem !important;
        text-align: center;
        border-width: 2px;
        border-radius: 50% !important;
        border-color: #28B3EC !important;
    }
    .disabled {
        color: #28B3EC !important;
    }
}
.bg-main {
    background-color: #28B3EC;
    color: white !important;
}

